name: Test

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ruby_version:
          - '3.0'
          - '3.1'
          - '3.2'
          - '3.3'
        gemfile:
          - gemfiles/rails_6_1.gemfile
          - gemfiles/rails_7_0.gemfile
          - gemfiles/rails_7_1.gemfile

    name: Ruby ${{ matrix.ruby_version }} / Gemfile ${{ matrix.gemfile }}

    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
      COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
          bundler-cache: true

      - name: RSpec
        run: bundle exec rake
